<mat-card>

    <mat-card-title>
        <h3 class="text">{{recipeId ? 'Редактировать рецепт' : 'Создать рецепт'}}</h3>
    </mat-card-title>
    <form [formGroup]="recipeForm">
        <mat-form-field class="namerecipe">
            <mat-label>Название рецепта</mat-label>
            <input matInput formControlName="title" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Описание</mat-label>
            <textarea matInput formControlName="description" required></textarea>
        </mat-form-field>

        <input type="file" (change)="onFileSelected($event)" accept="image/*">

        <img *ngIf="imagePreview" [src]="imagePreview" alt="Предпосмотр изображения" class="preview-img">

        <h3 class="text">Ингридиенты</h3>

        <div formArrayName="ingredients" class="ingredients">
            <div class="IngForm" *ngFor="let ingredient of ingredients.controls; let i = index" [formGroupName]="i">

                <mat-form-field class="Ing">
                    <mat-label>Название</mat-label>
                    <input  matInput formControlName="name" required>
                </mat-form-field>

                <mat-form-field class="Ing">
                    <mat-label>Количество</mat-label>
                    <input matInput formControlName="amount" required>
                </mat-form-field>

                <mat-form-field class="Ing">
                    <mat-label>Единица измерения</mat-label>
                    <input matInput formControlName="unit">
                </mat-form-field>

                <button class="deleteIng" color="warn" type="button" (click)="removeIngredient(i)">
                    <mat-icon class="textButton">Delete</mat-icon>
                </button>
            </div>
        </div>

        <button mat-button color="primary" type="button" (click)="addIngredient()">Добавить ингредиент</button>
        <button mat-raised-button color="accent" type="button" (click)="saveRecipe()" [disabled]="recipeForm.invalid">{{ recipeId ? 'Сохранить изменения' : 'Сохранить рецепт'}}</button>
    </form>
</mat-card>