<h1>Список рецептов</h1>
<button mat-raised-button color="primary" (click)="addRecipe()">Создать рецепт</button>
<mat-list>
    <mat-list-item *ngFor="let recipe of recipes">
        <img *ngIf="recipe.imageUrl" matListItemAvatar [src]="recipe.imageUrl" alt="{{recipe.title}}">
        <h3 mat-line>{{ recipe.title }}</h3>
        <p mat-line>Дата создания: {{ recipe.createdAt | date }}</p>
        <button mat-icon-button (click)="viewRecipe(recipe.id)" aria-label="View">
            <mat-icon>visibility</mat-icon>
        </button>
        <button mat-icon-button (click)="editRecipe(recipe.id)" aria-label="Edit">
            <mat-icon>Edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteRecipe(recipe.id)" aria-label="Delete">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-list-item>
</mat-list>